@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainWhite: #fcfbfc;
  --mainPrimary: #1b1c1c;
  --mainSecondary: #ebe1e1; 
  --darkSecondary: #959299;
  --backgroundGradient1: #4d8baf;
  --backgroundGradient2: #0f4f6e; 
}

body {
  color: var(--mainSecondary);
  background: linear-gradient(to bottom, var(--backgroundGradient1) 10%, var(--backgroundGradient2) 50%);
  background-attachment: fixed;
  font-family: 'Monaco', monospace;

}
