@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainWhite: #F6F8F1;
  --mainBrown: #573D26;
  --secondaryBrown: #8a654f;
  --mainGreen: #308561; 
  --lightTeal: #194D33; 
}

body {
  color: var(--mainBrown);
  background: var(--mainWhite);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
