@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainWhite: #f2efec;
  --mainPrimary: #1b1c1c;
  --mainSecondary: #4b12b4; 
  --darkSecondary: #341275; 
}

body {
  color: var(--mainBrown);
  background: var(--mainWhite);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
